<p>
  <h2 class="comment-author" ><%= comment.commenter %>:</h2>
</p>
<p>
  <%= comment.body %>
</p>
<p> 
    <%= link_to "Delete this", post_comment_path(@post, comment), method: :delete, data: {confirm: "Are you sure?"}%>
</p>
