<%= form_for([@post, @post.comments.build]) do |f|%>
  <p>
    <%= f.text_field :commenter, placeholder:"昵称*" %>
  </p>
  <p>
    <%= f.text_area :body, class:"form-control", rows:"3" %>
  </p>
  <p>
    <%= f.submit class:"btn btn-primary btn-lg", role:"button",  value:"提交评论"%>
  </p>
<% end %>
